body{
    margin-top: auto;
    background-color: #ff9900;
}

#block{
    width: 800px;
    background-color: #666666;
    padding: 20px;
    margin: 0px auto;
    text-align: center;
}

#blockctnr{
    width: 800px;
    height: 500px;
    background-color: #666666;
    padding: 20px;
    margin: 0px auto;
    text-align: left;
}

#blockin{
    display: inline-block;
/*     background-color: aliceblue; */
    padding: 20px
}


#blockcontent{
    
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    color: floralwhite;
}

p{
    font-family: sans-serif;
    color: floralwhite;
    font-style: italic;
}

a:hover{
    color: black;
}

a{
   color: floralwhite;
   text-decoration: none;
}

#fields{
    padding: 10px;
}

#btn{
    border-color: aliceblue;
    border:1px 2px 3px 2px;
    display: inline-block;
    
}

strong{
    font-family: sans-serif;
    font-size: 15px;
    color:lightgray;
}

input{
    padding: 5px;
}

select{
    padding: 5px;
}

#footer{
    width: 800px;
    padding: 20px;
    margin:0px auto;
    background-color: #444444;
}

#fotl{
    display: inline-block;
    margin-right: auto;
}


#fotr{
   float: right;
    display: inline-block;
}

#title{
    display: inline-block;
    float: right;
    
}

li{
    list-style: none;
    float: left;
    padding-left: 15px;
}


#blockz{
    position: absolute;
    left: auto;
}

#blockzz{
    position: absolute;
    left: auto;
    top: 170px;
}

#btn{
    display: inline-block;
    color: dimgray;
    background-color: aliceblue;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 5px 15px;
    margin-left: 10px;
}

link{color: black;}

#btn:hover{
    color: dimgray;
    background-color: lightgrey;
}

#btn2{
    padding: 5px 15px;
    margin: 0px 15px;
    border-radius: 5px;
    background-color: darkgray;
    font-family: sans-serif;
    color: darkslategray;
    
}



/*<<<< TEXTS >>>>*/

#text1{
    display: inline-block;
    font-family: sans-serif;
    color: aliceblue;
    padding: 7px;
}

#xbutton{
    display: inline-block;
    position: relative;
    left: 95%;
}

#tab{
    font-family: sans-serif;
    font-size: .9em;
    color: aliceblue;
    font-style: italic;
    padding: 15px;
    position: fixed;
    top: 150px;
}


td{
    padding: 8px;
}


/*>>> THIS IS ANSWER SHEET <<<*/

.anspad{
    margin-top:-15px;
    margin-left: 30px;
}

.ansbox, input{
    width: 400px;
    padding: 5px 0px;
}

button{
    font-weight: bold;
    color: darkslategray;
    height: 30px;
    border-radius: 1px;
    margin:15px 30px;
}