/* CSS Document */
.INR {
    /*font-family: 'webRupee';*/
	padding-right:5px;
}
.amountBig{color:#FF9900;}

body{ background-color:#e8edf3;}

.whitebg{ background-color:#fff;}
.orange{ color:#FF3300;}
.lightGreen{ color:#339900;}

.btmBdrDot{  border-bottom:1px dotted #ccc; margin-top:5px; margin-bottom:5px; }

.header{ background-color:#FFFFFF; height:100px; border-bottom: 7px solid #057d8b; margin-bottom:5px;}
.menu{ color:#FFFFFF; font-size:2rem;}
.mainheadBg{background-color:#cccccc; padding:5px;}
.mainindexhead{ background-color:#252839; color:#ffcc33;}
.mainindexbody{ background-color:#e8edf3;}
.maincontent{ padding:10px;}
.footer{ background-color:#252839; color:#fff; padding:10px 25px 5px;}
.footer i{ padding-right:10px;}
.newheading{ padding:10px;}
.rightDivider{ border-right:1px solid #ccc;}
.bottomDivider{ border-bottom:1px solid #ccc; }
.boxLine{ border:1px solid #ccc; padding:10px;}
.spacer{ padding:10px;}
.sortBg{ background-color:#999999; color:#fff;}
.geryBg{ background-color:#ccc; color:#000;}
.sorting span{ padding-right:20px; font-size:1.5rem; font-weight:bold; line-height:20px; display: inline; }
.sorting span a{color:#000; text-decoration:none;}

.locateMain{ background-color:#fff; padding:10px;}
.locateListing { padding-left:5px;}
.locateListing h4 { font-size:1.8rem;  font-weight:bold;}
.locateListing h4 a {color:#006666; text-decoration:none;}
.locatesmTitle{ font-size:1.2rem;}
.locateaddress{ font-size:1.5rem;}.locateaddress i{ padding-right: 10px;}
.locatephone{ font-size:1.5rem;}
.locatephone i{ padding-right: 10px;}

.innerContent{}
.innerContent h3 { color:#006666; font-size:2.5rem; margin-top:5px;}
.innerData{ padding:10px;}
.innerData p{ font-size:1.2rem; color:#999999;}

.btmBdr{ border: 1px solid #999; margin: 10px 0px;}
/* Bootstrap overwrite */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-default {
  background-color: #666666;
  border-color: #666666;
   font-size:2rem;
}

.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 20px 45px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
   background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
.container {
  padding-right:5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}*/

.well {
  padding: 10px;
  margin-bottom: 20px;

}