html{
	position: relative;
}

body {
	font-size:12px;
}

#container{
	/* width: 1124px; */
	margin: 0 auto;
	margin-top: 75px;
	/* margin-left: 70px; */
	min-height: 780px;
}
.navbar-brand{
	height: 15px;
	padding-top:5px;
}
img.compress {
	border: none;
	width:15px;
	height:15px;
	background:url("img/glyphicons-halflings.png") -456 -72 ;
}
.no-border img { 
	border: none; 
}
#footer {
	height: 50px;
	margin-top: 50px;
}
#footer .panel {
	background: #fff url('../../static/images/footer_background.jpg') no-repeat right bottom;
}

.clickable {
  cursor: pointer;
}
.defaultCursor {
  cursor:default;
}
.hidden {
	display:none;
}
.visible {
	display:block;
}

.unit { 
	position: absolute; display: block; margin-left: 5px; top: 50px; z-index: 9; 
}
#contact_person_tel {
	padding: 0px 10px 0px 11px;
}
#netUser_tel{
	padding: 0px 10px 0px 12px;
}
#manage_activity_link,#manage_supplier_link,#manage_export_link{
	font-size:12px;
}
#footer {
	position: absolute;
	width: 1144px;
	/* width: 100%; */
	bottom: 0;
}
.form-group {
	margin-bottom: 5px;	
}
.redAsterik:after {
    content: " *";
    font-weight: bold;
    color: red; 
}
